html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: Helvetica, Arial;
	font-size: 16px;
}

:global #mint {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
}

.mint {
	width: 300px;
	height: 490px;
}

.header {
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}

.coins {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
}

@media (min-width: 768px) {
	:global #mint {
		align-items: center;
	}
}

@media (max-height: 490px) {
	:global #mint {
		align-items: flex-start !important;
	}
}
