.coin {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.1);
	border-radius: 50px;
}

.coin_face {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.5);
}

.coin_face_input {
	padding: 3px;
	margin: 0;
	border: 0;
	width: 60px;
	font-size: 18px;
  text-align: center;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.coin_amount {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 15px;
	padding: 5px;
	border-radius: 15px;
	font-size: 12px;
	color: white;
	background-color: rgba(0, 0, 0, 0.9);
}

.coin_change {
	display: none;
	position: absolute;
  bottom: 0;
  right: 0;
	padding: 3px;
  background-color: rgba(0, 0, 0, 1);
	font-size: 10px;
  color: white;
  cursor: pointer;
}

.coin:hover .coin_change {
	display: block;
}
