.form {
	display: flex;
	flex-direction: column;
	padding: 25px 50px;
}

.input,
.button {
	font-size: 16px;
	line-height: 32px;
	border: none;
}

.input {
	color: rgba(0, 0, 0, 1);
	text-align: right;
	background-color: rgba(0, 0, 0, 0.03);
	box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

.button {
	margin-top: 15px;
	background-color: rgba(0, 0, 0, 1);
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	cursor: pointer;
}
